[Desktop Entry]
Name=Open NEXT Decryptor
Comment=Open browser for decryption
Exec=firefox ~/encrypted-post/dist/decrypt/index.html
Terminal=false
Type=Application
StartupNotify=false
